/* MAIN */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.222;
    color: #262C27
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* HEADER */

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: relative;
    background-image: url(/images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 57px;
    min-height: 100vh;
}

header::after {
    position: absolute;
    content: "";
    background-image: url(../images/header-decor.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(45%);
    z-index: 2;
}

header::before {
    position: absolute;
    content: "";
    background-image: url(../images/header-decor.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(80%) rotate(180deg);
    z-index: 3;
}


.header-top {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: flex-end;
    font-family: 'Comfortaa', cursive;    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
}

.logo path {
    transition: fill .3s ease;
}

.logo:hover path {
    fill: #0093A1;
}

.header-btn {
    text-transform: uppercase;
    color: #FFF;
    padding: 12px 71px;
    background-color: #262C27;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.header-btn:hover {
    background-color: #B9C400; 
}

.header-content-box {
    position: relative;
    min-height: calc(100vh - 62px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.header-content {
    max-width: 548px;
    text-align: center;
    margin-right: 40px;
    margin-left: auto;
    font-family: 'Comfortaa';
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;    
}

.header-title {
    font-size: 64px;
    line-height: 1.109;
    margin-top: 300px;
    margin-bottom: 20px;
}

.header-text {
    font-size: 24px;
    line-height: 1.125;
}

.header-text + .header-text {
    margin-top: 20px;
}


.header-decor-text-one {
    position: absolute;
    bottom: 70px;
    right: 142px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 1.115;
    color: #0093A1;
    opacity: 0.3;
    z-index: 1;
}

.header-decor-text-two {
    position: absolute;
    bottom: -60px;
    right: 582px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 1.115;
    color: #0093A1;
    opacity: 0.3;
    z-index: 4;
}

.header-decor-text-three {
    position: absolute;
    max-width: 360px;
    bottom: -30px;
    right: 135px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.218;
    text-align: center;
    color: #0093A1;
    z-index: 4;
}


/* INFO */

.info {
    position: relative;
    background-image: url(../images/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 130px;
}

.info::before {
    position: absolute;
    content: "";
    background-color: #262C27;
    height: 180px;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-170px);
    z-index: 1;
}

.info-inner {
}

.info-top {
    display: flex;
    gap: 80px;
    padding-top: 100px;
    margin-bottom: 597px;
}

.info-top-text {
    position: relative;
    padding-top: 245px;
    width: 290px;
    color: #FFF;
}

.info-top-text-two {
    padding-bottom: 125px;
}

.info-top-text-two {
    border-bottom: 1px solid #FFF;
}

.popup-btn {
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.popup-btn span{
    padding-top: 12px;
    display: block;
    color: #FFF;
}

.info-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.info-top-img {
    z-index: 4;
}

.info-specs {
    display: flex;
    align-items: center;
    gap: 130px;
    color: #FFF;
    padding-bottom: 50px;
}

.info-specs-title {
    text-transform: uppercase;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 60px;
    line-height: 1.116;
    width: 250px;
}

.info-specs-list {
    width: 565px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 30px 0;
    font-weight: 700;
}

.info-specs-item {
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
}
 
.info-specs-caption {
    width: 185px;

}

.info-specs-text {
}



/* BUY */

.buy {
    padding: 150px 0;
}

.buy-inner {
    display: flex;
    align-items: center;
    gap: 90px;
}

.buy-content {
    max-width: 510px;
}

.buy-text-wrapper {
    max-width: 284px;
}

.buy-title {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 60px;
    line-height: 1.116;
    color: #0093A1;
}

.buy-item-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    transition: color .3s ease;
    padding-bottom: 5px;
}

.buy-item-title:hover {
    color: #0093A1;
}

.buy-item-text {
    padding-bottom: 25px;
}

.buy-item-text:last-child {
    padding-bottom: 50px;
}

.buy-btn {
    padding: 18px;
    max-width: 464px;
    width: 100%;
    text-align: center;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.125;
    background-color: transparent;
    color: #0093A1;
    border: 2px solid #0093A1;
    cursor: pointer;
}

.buy-price {
}

.buy-img {
}